{% extends 'investor_center/base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>Jump to another report:</p>
    <button type="button"><a href="{% url 'ih' ticker=dt %}">Income Statement Highlights</a></button>
    <!-- <button type="button"><a href="{% url 'bh' ticker=dt %}">Balance Sheet Highlights</a></button> -->
    <button type="button"><a href="{% url 'cfh' ticker=dt %}">Cash Flow Highlights</a></button>
    <button type="button"><a href="{% url 'effh' ticker=dt %}">Efficiency Highlights</a></button>
    <button type="button"><a href="{% url 'divsh' ticker=dt %}">Dividend Highlights</a></button>
    <!-- <input type="submit" name="income" value="Income Statement Report"> -->
    <!-- <input type="submit" name="cf" value="Cash Flow Statement Report"> -->
    <!-- <input type="submit" name="eff" value="Efficiency Report"> -->
    <!-- <input type="submit" name="divs" value="Dividend Report"> -->

    <h1>
        Balance Sheet Highlights for {{dt}}
        <input type="hidden" name="ts" value="{{dt}}">
    </h1>
    <p>Applicable column headers will also contain the average value of those columns for an easy summary.</p>
    <table border="1" name="sectorRankingsTable">
        {% for l in mt %}
        <tr>
            <th>Year</th>
            <th>Reported Shareholder Equity</th> 
            <th>Reported Shareholder Equity GR </br>{{l.reportedEquityGrowthAVG|floatformat:3}}%</th>
            <th>Calculated Shareholder Equity</th>
            <th>Calculated Shareholder Equity GR </br>{{l.calculatedEquityGrowthAVG|floatformat:3}}%</th>
            <th>Reported Book Value</th>
            <th>Reported Book Value GR </br>{{l.repBookValueGrowthAVG|floatformat:3}}%</th>
            <th>Calculated Book Value</th>
            <th>Calculated Book Value GR </br>{{l.calcBookValueGrowthAVG|floatformat:3}}%</th>
            <th>Net Asset Value</th>
            <th>NAV GR </br>{{l.navGrowthAVG|floatformat:3}}%</th>
            <th>Debt</th>
            <th>Debt GR </br>{{l.debtGrowthAVG|floatformat:3}}%</th>
        </tr>
        {% endfor %}
        {% for i in lt %}
        <tr>
            <td>{{i.year}}</td>
            <td>{{i.ReportedTotalEquity|floatformat:"0"}}</td>
            <td>{{i.ReportedTotalEquityGrowthRate|floatformat:3}}%</td>
            <td>{{i.TotalEquity|floatformat:"0"}}</td>
            <td>{{i.TotalEquityGrowthRate|floatformat:3}}%</td>
            <td>{{i.reportedBookValue|floatformat:3}}</td>
            <td>{{i.reportedBookValueGrowthRate|floatformat:3}}%</td>
            <td>{{i.calcBookValue|floatformat:3}}</td>
            <td>{{i.calcBookValueGrowthRate|floatformat:3}}%</td>
            <td>{{i.nav|floatformat:3}}</td>
            <td>{{i.navGrowthRate|floatformat:3}}%</td>
            <td>{{i.TotalDebt|floatformat:"0"}}</td>
            <td>{{i.TotalDebtGrowthRate|floatformat:3}}%</td>
        </tr>
        {% endfor %}
    </table>
    </table>
</form>
{% endblock %}