{% extends 'investor_center/base.html' %}

{% block content %}
    <p>Jump to another report:</p>

    <div class="container">
        <a href="{% url 'overh' ticker=dt %}" id="high">Summary Highlights</a>
        <a href="{% url 'ih' ticker=dt %}" id="high">Income Statement Highlights</a>
        <!-- <a href="{% url 'bh' ticker=dt %}">Balance Sheet Highlights</a> -->
        <a href="{% url 'cfh' ticker=dt %}" id="high">Cash Flow Highlights</a>
        <a href="{% url 'effh' ticker=dt %}" id="high">Efficiency Highlights</a>
        <a href="{% url 'divsh' ticker=dt %}" id="high">Dividend Highlights</a>
    </div>

    <h1>
        Balance Sheet Highlights for {{dt}}
        <input type="hidden" name="ts" value="{{dt}}">
    </h1>

    </br>
    <h2>
        Shareholder Equity-Related Stats
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            SE is just everything the company owns minus everything the company owes: Total Assets minus Total Liabilities. 
            </br>Assets include physical materials and property, as well as ownership of intangibles such as patents and intellectual property.
            </br>Liabilities include accounts payable and debts that are due in the short- and long-term.
        </p>
    </details> </br>

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Category</th>
                <th>Year</th>
                <th>Reported Shareholder Equity</th> 
                <th>Reported Shareholder Equity GR</th>
                <th>Calculated Shareholder Equity</th>
                <th>Calculated Shareholder Equity GR</th>
                
            </tr>
            <tr>
                <th>Average</th>
                <th></th>
                <th></th>
                <th>{{l.reportedEquityGrowthAVGnz|floatformat:3}}%</th>
                <th></th>
                <th>{{l.calculatedEquityGrowthAVGnz|floatformat:3}}%</th>
                
            </tr>
            {% endfor %}
            {% for i in lt %}
            <tr id="info">
                <td></td>
                <td>{{i.year}}</td>
                <td>${{i.ReportedTotalEquity|floatformat:"0"}}</td>
                <td>{{i.ReportedTotalEquityGrowthRate|floatformat:3}}%</td>
                <td>${{i.TotalEquity|floatformat:"0"}}</td>
                <td>{{i.TotalEquityGrowthRate|floatformat:3}}%</td>
               
            </tr>
            {% endfor %}
        </table>
    </div>

    </br>
    <h2>
        Book Value and NAV Stats
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            Book Value on our site is calculated on a per share basis. It represents Shareholder Equity divided by Shares Outstanding. 
            </br>NAV is sometimes reported to the SEC, and is essentially Book Value as we measure it. Usually 'only' relevant to BDC's.
            </br>We like BV as a catch-all health check that involves the Balance Sheet, plus the behavior of Shares Outstanding: </br>
                  How is tangible ownership of the company, via owning one share, being affected over time?
        </p>
    </details> </br>

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Category</th>
                <th>Year</th>
                <th>Reported Book Value</th>
                <th>Reported Book Value GR</th>
                <th>Calculated Book Value</th>
                <th>Calculated Book Value GR</th>
                <th>Net Asset Value</th>
                <th>NAV GR</th>
               
            </tr>
            <tr>
                <th>Average</th>
                <th></th>
                <th>${{l.repBookValueAVG|floatformat:"0"}}/share</th>
                <th>{{l.repBookValueGrowthAVGnz|floatformat:3}}%</th>
                <th>${{l.calcBookValueAVG|floatformat:"0"}}/share</th>
                <th>{{l.calcBookValueGrowthAVGnz|floatformat:3}}%</th>
                <th>${{l.navAVG|floatformat:"0"}}/share</th>
                <th>{{l.navGrowthAVG|floatformat:3}}%</th>
               
            </tr>
            {% endfor %}
            {% for i in lt %}
            <tr id="info">
                <td></td>
                <td>{{i.year}}</td>
                <td>${{i.reportedBookValue|floatformat:3}}</td>
                <td>{{i.reportedBookValueGrowthRate|floatformat:3}}%</td>
                <td>${{i.calcBookValue|floatformat:3}}</td>
                <td>{{i.calcBookValueGrowthRate|floatformat:3}}%</td>
                <td>${{i.nav|floatformat:3}}/share</td>
                <td>{{i.navGrowthRate|floatformat:3}}%</td>
                
            </tr>
            {% endfor %}
        </table>
    </div>

    </br>
    <h2>
        Debt-Related Stats
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            This table represents Total Debt that the company holds in any given year. 
            </br>Due in the short-term or long-term, it's all included. See below how they're managing it.
            </br>Keep in mind that debt levels are already 'bundled into' Shareholder Equity. 
            </br>Zeroes (0) or blanks in the debt table indicate that we may have yet to be able to find debt levels reported to the SEC in the company's filings. It may not indicate that the company actually carries 
            zero debt.
        </p>
    </details> </br>

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Category</th>
                <th>Year</th>
                <th>Debt</th>
                <th>Debt GR</th>
            </tr>
            <tr>
                <th>Average</th>
                <th></th>
                <th></th>
                <th>{{l.debtGrowthAVG|floatformat:3}}%</th>
            </tr>
            {% endfor %}
            {% for i in lt %}
            <tr id="info">
                <td></td>
                <td>{{i.year}}</td>
                <td>${{i.TotalDebt|floatformat:"0"}}</td>
                <td>{{i.TotalDebtGrowthRate|floatformat:3}}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}