{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Investment Highlights
        </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="canonical" href="https://investmenthighlights.com/"></link>
		<meta name=”viewport” content=”width=device-width, initial-scale=1.0”>
        <link rel="stylesheet" href="{% static 'investor_center/style.css' %}"></link>
    </head>

    <body>
        <header>
            
        </header>

        <div class="container">
            <ul class="navigation">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'stockScreen' %}">Stock Screener</a></li> 
                <li><a href="{% url 'highlights' %}">Individual Stock Highlights</a></li>
                <li><a href="{% url 'compare' %}">Compare Stock Highlights</a></li>
                {% comment %}
                <!-- <li><a href="{% url 'sr' %}">Sector Rankings</a></li>  -->
                {% endcomment %}
                <li><a href="{% url 'val' %}">Dividend Stock Valuation</a></li>
            </ul>
        </div>
        
            {% block content %}
            {% endblock %}
            
            {% block footer %}
            <footer>
                <h3>Important Disclaimer</h3>
                <p>None of the content here, nor anywhere on this site, should be considered financial advice.
                </br>This site does not offer personalized financial advice and does not act in a fiduciary capacity for the reader in any way.
                </br>We repeat: This is NOT financial or investment advice. All information here exists solely for educational purposes.
                </br>Contact a licensed financial adviser before making any investment decisions and remember 
                        that past performance is no guarantee of future results.</p>
                
                <div class="container">
                    <a href="#" id="high">Back to Top</a>
                </div> 
                
                <div class="container">
                    <ul class="navigation">                       
                        <li><a href="{% url 'tips' %}">Help Support Us</a></li>
                        {% comment %}
                        <!-- <li><a href="{% url 'contact' %}">Contact Us</a></li> -->
                        {% endcomment %}
                        <li><a href="{% url 'info' %}">About this Site</a></li>
                        <li><a href="{% url 'technical' %}">Technical Details of Site</a></li>
                    </ul>
                </div>

                <details>
                    <summary>
                        Legend
                    </summary>
                        <p>
                            FFO==Funds from Operations, EPS==Earnings per Share, FCF==Free Cash Flow, FCFM==Free Cash Flow Margin, GR==Growth Rate, 
                            AVG==Average, REIT==Real Estate Investment Trust, NAV==Net Asset Value, CF==Cash Flow, PO==Payout, POR==Payout Ratio, Op.==Operating, Inv.==Investing, 
                            Fin.==Financing or Financial, Capex==Capital Expenditures, ROIC==Return on Invested Capital, ROCE==Return on Capital Employed, SE==Shareholder's Equity, 
                            BV==Book Value, ROE==Return on Equity
                        </p>
                </details>
            </footer>
            {% endblock %}
    </body>
</html>