{% extends 'investor_center/base.html' %}
{% load humanize %}

{% block content %}
    <p>Jump to another report:</p>
    <div class="container">
        <a href="{% url 'overh' ticker=dt %}" id="high">Summary Highlights</a>
        <a href="{% url 'ih' ticker=dt %}" id="high">Income Statement Highlights</a>
        <a href="{% url 'bh' ticker=dt %}" id="high">Balance Sheet Highlights</a>
        <!-- <a href="{% url 'cfh' ticker=dt %}">Cash Flow Highlights</a> -->
        <a href="{% url 'effh' ticker=dt %}" id="high">Efficiency Highlights</a>
        <a href="{% url 'divsh' ticker=dt %}" id="high">Dividend Highlights</a>
    </div>

    <h1>
        Cash Flow Statement Highlights for {{dt}}
        <input type="hidden" name="ts" value="{{dt}}">
    </h1>

    </br>
    <h2>
        Cash Flow Stats
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            Net Cash Flow is the summation of Operating, Investing and Financing Cash Flows. 
            </br>A business with negative Net Cash Flows over long periods of time will eventually go bankrupt, as more cash is leaving the company regularly, rather than entering its coffers for later use.
            </br>Operating Cash Flow takes the Income Statement, includes some accounting calculations for depreciation and compensation as shares, 
            as well as a few other things, to give you an idea of where cash is moving within company operations.
            </br>Investing Cash Flow takes into account money that the company invests back into itself, including Capital Expenditures and some other values.
            </br>Financing Cash Flow deals with debt and share issuance or buybacks, as well as dividends paid. 
        </p>
    </details> </br>

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Category</th>
                <th>Year</th>
                <th>Operating Cash Flow</th> 
                <th>Op. CF GR</th>
                <th>Investing Cash Flow</th>
                <th>Inv. CF GR</th>
                <th>Financing Cash Flow</th>
                <th>Fin. CF GR</th>
                <th>Net Cash Flow</th>
                <th>Net CF GR</th>
            </tr>
            <tr>
                <th>Average</th>
                <th></th>
                <th>${{l.operatingCashFlowAVGnz|floatformat:"0"}}</th>
                <th>{{l.operatingCashFlowGrowthAVGnz|floatformat:3}}%</th>
                <th>${{l.investingCashFlowAVGnz|floatformat:"0"}}</th>
                <th>{{l.investingCashFlowGrowthAVGnz|floatformat:3}}%</th>
                <th>${{l.financingCashFlowAVGnz|floatformat:"0"}}</th>
                <th>{{l.financingCashFlowGrowthAVGnz|floatformat:3}}%</th>
                <th>${{l.netCashFlowAVGnz|floatformat:"0"}}</th>
                <th>{{l.netCashFlowGrowthAVGnz|floatformat:3}}%</th>
            </tr>
            {% endfor %}
            {% for i in lt %}
            <tr id="info">
                <td></td>
                <td>{{i.year}}</td>
                <td>${{i.operatingCashFlow|floatformat:"0"|intcomma}}</td>
                <td>{{i.operatingCashFlowGrowthRate|floatformat:3}}%</td>
                <td>${{i.investingCashFlow|floatformat:"0"|intcomma}}</td>
                <td>{{i.investingCashFlowGrowthRate|floatformat:3}}%</td>
                <td>${{i.financingCashFlow|floatformat:"0"|intcomma}}</td>
                <td>{{i.financingCashFlowGrowthRate|floatformat:3}}%</td>
                <td>${{i.netCashFlow|floatformat:"0"|intcomma}}</td>
                <td>{{i.netCashFlowGrowthRate|floatformat:3}}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    </br>
    <h2>
        Free Cash Flow Stats
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            Capex represents money the company invests expanding itself. Subtracting Capex from Operating Cash Flows gives Free Cash Flow values.
            </br>FCF is considered by some to be a more meaningful metric of company profitability and health.
            </br>Free Cash Flow Margin is FCF divided by sales (Revenue) in a given period of time.
        </p>
    </details> </br>

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Category</th>
                <th>Year</th>
                <th>Capex</th>
                <th>Capex GR</th>
                <th>Free Cash Flow</th>
                <th>FCF GR</th>
                <th>Free Cash Flow Margin</th>
                <th>FCFM GR</th>
            </tr>
            <tr>
                <th>Average</th>
                <th></th>
                <th></th>
                <th>{{l.capexGrowthAVGnz|floatformat:3}}%</th>
                <th></th>
                <th>{{l.fcfGrowthAVGnz|floatformat:3}}%</th>
                <th>{{l.fcfMarginAVG|floatformat:3}}%</th>
                <th>{{l.fcfMarginGrowthAVGnz|floatformat:3}}%</th>
            </tr>
            {% endfor %}
            {% for i in lt %}
            <tr id="info">
                <td></td>
                <td>{{i.year}}</td>
                <td>${{i.capEx|floatformat:"0"|intcomma}}</td>
                <td>{{i.capExGrowthRate|floatformat:3}}%</td>
                <td>${{i.fcf|floatformat:"0"|intcomma}}</td>
                <td>{{i.fcfGrowthRate|floatformat:3}}%</td>
                <td>{{i.fcfMargin|floatformat:3}}%</td>
                <td>{{i.fcfMarginGrowthRate|floatformat:3}}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}