{% extends 'investor_center/base.html' %}

{% block content %}

<h1>placeholder for contact page. this thing will have an email form to fill out. sent on backend.</h1>
<h1>how</h1>
<h1>what</h1>
<h1>shout out</h1>
<p>
    This site is a work in progress, made solely with HTML+CSS sitting on top of a Django backend.
    </br>Logins and authentication will eventually be added to gain access to different paid services, 
    but until that time no user data will ever be logged, shared, or otherwise involved with the use of, 
    or the visiting of, this site.
</p>

{% endblock %}