{% extends 'investor_center/base.html' %}

{% block content %}

<h1>We'd Love Your Constructive Criticism, Feedback, or Just to Hear From You!</h1>
<h2>Typical emails that will get a response:</h2>
<div class="container">
    <ul>
        <li id="emaillist">You found a bug and send a detailed description of it (Clicking the link made my computer combust)</li>
    </br>
        <li id="emaillist">Gratitude, praise, happy emails (Your website gave me an idea for something I want to build!)</li>
    </br>
        <li id="emaillist">Suggestions for site improvements, UI layout, or technical suggestions (This table would look better like 'x'. Have you considered 'y'-framework?)</li>
    </ul>
</div>

<h1>Typical emails that will get ignored:</h1>
<div class="container">
    <ul>
        <li id="emaillist">Trolls</li>
    </br>
        <li id="emaillist">Offers of any kind. This site doesn't want to run ads and isn't for sale.</li>
    </ul>
</div>


<h1>Feel free to reach out by filling out the following fields:</h1>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="container">
        {{ field }}
    </div>
    {% endfor %}
    <div class="container">
        <input type="submit" name="contact" value="Send">
    </div>
    
</form>
<p>
    Expect a wait time of roughly seven days to receive a response, in eligible cases. Thank you for reaching out!
</p>

{% endblock %}