{% extends 'investor_center/base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>Jump to another report:</p>
    <div class="container">
        <a href="{% url 'ih' ticker=dt %}" id="high">Income Statement Highlights</a>
        <a href="{% url 'bh' ticker=dt %}" id="high">Balance Sheet Highlights</a>
        <a href="{% url 'cfh' ticker=dt %}" id="high">Cash Flow Highlights</a>
        <a href="{% url 'effh' ticker=dt %}" id="high">Efficiency Highlights</a>
        <!-- <a href="{% url 'divsh' ticker=dt %}">Dividend Highlights</a> -->
        <!-- <input type="submit" name="income" value="Income Statement Report"> -->
        <!-- <input type="submit" name="balance" value="Balance Sheet Report"> -->
        <!-- <input type="submit" name="cf" value="Cash Flow Statement Report"> -->
        <!-- <input type="submit" name="eff" value="Efficiency Report"> -->
    </div>

    <h1>
        Dividend Highlights for {{dt}}
        <input type="hidden" name="ts" value="{{dt}}">
    </h1>
    <p>Applicable column headers will also contain the average value of those columns for an easy summary.</p>
    <table border="1" name="sectorRankingsTable">
        {% for l in mt %}
        <tr>
            <th>Year</th>
            <th>Total Dividends Paid</th> 
            <th>Total Dividends Paid GR </br>{{l.totalDivsPaidGrowthAVG|floatformat:3}}%</th>
            <th>Calculated Dividends per Share</th>
            <th>Calculated Dividends per Share GR </br>{{l.calcDivsPerShareGrowthAVG|floatformat:3}}%</th>
            <th>Reported Dividends per Share</th>
            <th>Reported Dividends per Share GR </br>{{l.repDivsPerShareGrowthAVG|floatformat:3}}%</th>
            <th>Payout Ratio </br>{{l.poravg100|floatformat:3}}%</th>
            <th>FCF Payout Ratio </br>{{l.fcfporavg100|floatformat:3}}%</th>
            <th>REIT(FFO) Payout Ratio </br>{{l.ffoporavg100|floatformat:3}}%</th>
        </tr>
        {% endfor %}
        {% for i in lt %}
        <tr>
            <td>{{i.year}}</td>
            <td>${{i.totalDivsPaid|floatformat:"0"}}</td>
            <td>{{i.divGrowthRateBOT|floatformat:3}}%</td>
            <td>${{i.calcDivsPerShare|floatformat:3}}</td>
            <td>{{i.divGrowthRateBOCPS|floatformat:3}}%</td>
            <td>${{i.divsPaidPerShare|floatformat:3}}</td>
            <td>{{i.divGrowthRateBORPS|floatformat:3}}%</td>
            <td>{{i.por100|floatformat:3}}%</td>
            <td>{{i.fcfpor100|floatformat:3}}%</td>
            <td>{{i.ffopor100|floatformat:3}}%</td>
        </tr>
        {% endfor %}
    </table>
    </table>
</form>
{% endblock %}