{% extends 'investor_center/base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>Jump to another report:</p>
    <input type="submit" name="income" value="Income Statement Report">
    <input type="submit" name="balance" value="Balance Sheet Report">
    <input type="submit" name="cf" value="Cash Flow Statement Report">
    <input type="submit" name="eff" value="Efficiency Report">

    <h1>
        Dividend Breakdown for {{dt}}
        <input type="hidden" name="ts" value="{{dt}}">
    </h1>
    
    <!-- payouts, growth rates, check both mega and meta for more -->
    <table border="1" name="sectorRankingsTable">
        {% for l in mt %}
        <tr>
            <th>Year</th>
            <th>Reported Shareholder Equity</th> 
            <th>Reported Shareholder Equity GR </br>AVG: {{l.reportedEquityGrowthAVG|floatformat:3}}%</th>
            <th>Calculated Shareholder Equity</th>
            <th>Calculated Shareholder Equity GR </br>AVG: {{l.calculatedEquityGrowthAVG|floatformat:3}}%</th>
            <th>Reported Book Value</th>
            <th>Reported Book Value GR </br>AVG: {{l.repBookValueGrowthAVG|floatformat:3}}%</th>
            <th>Calculated Book Value</th>
            <th>Calculated Book Value GR </br>AVG: {{l.calcBookValueGrowthAVG|floatformat:3}}%</th>
            <th>Net Asset Value</th>
            <th>NAV GR </br>AVG: {{l.navGrowthAVG|floatformat:3}}%</th>
            <th>Debt</th>
            <th>Debt GR </br>AVG: {{l.debtGrowthAVG|floatformat:3}}</th>
        </tr>
        {% endfor %}
        {% for i in lt %}
        <tr>
            <td>{{i.year}}</td>
            <td>{{i.ReportedTotalEquity|floatformat:"0"}}</td>
            <td>{{i.ReportedTotalEquityGrowthRate|floatformat:3}}%</td>
            <td>{{i.TotalEquity|floatformat:"0"}}</td>
            <td>{{i.TotalEquityGrowthRate|floatformat:3}}%</td>
            <td>{{i.reportedBookValue|floatformat:3}}</td>
            <td>{{i.reportedBookValueGrowthRate|floatformat:3}}%</td>
            <td>{{i.calcBookValue|floatformat:3}}</td>
            <td>{{i.calcBookValueGrowthRate|floatformat:3}}%</td>
            <td>{{i.nav|floatformat:3}}</td>
            <td>{{i.navGrowthRate|floatformat:3}}%</td>
            <td>{{i.TotalDebt|floatformat:"0"}}</td>
            <td>{{i.TotalDebtGrowthRate|floatformat:3}}%</td>
        </tr>
        {% endfor %}
    </table>
    </table>
</form>
{% endblock %}