{% extends 'investor_center/base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>Jump to another report:</p>
    <div class="container">
        <a href="{% url 'ih' ticker=dt %}">Income Statement Highlights</a>
        <a href="{% url 'bh' ticker=dt %}">Balance Sheet Highlights</a>
        <a href="{% url 'cfh' ticker=dt %}">Cash Flow Highlights</a>
        <!-- <a href="{% url 'effh' ticker=dt %}">Efficiency Highlights</a> -->
        <a href="{% url 'divsh' ticker=dt %}">Dividend Highlights</a>
        <!-- <input type="submit" name="income" value="Income Statement Report"> -->
        <!-- <input type="submit" name="balance" value="Balance Sheet Report"> -->
        <!-- <input type="submit" name="cf" value="Cash Flow Statement Report"> -->
        <!-- <input type="submit" name="divs" value="Dividend Report"> -->
    </div>

    <h1>
        Efficiency Highlights for {{dt}}
        <input type="hidden" name="ts" value="{{dt}}">
    </h1>
    <p>Applicable column headers will also contain the average value of those columns for an easy summary.</p>
    <table border="1" name="sectorRankingsTable">
        {% for l in mt %}
        
        <tr>
            <th>Year</th>
            <th>Reported ROIC </br>{{l.raroicAVG|floatformat:3}}% </th>
            <th>Calculated ROIC </br>{{l.aroicAVG|floatformat:3}}% </th>
            <th>Reported ROCE </br>{{l.rroceAVG|floatformat:3}}% </th>
            <th>Calculated ROCE </br>{{l.croceAVG|floatformat:3}}% </th>
            <th>Reported REIT ROCE </br>**</th>
            <th>Calculated REIT ROCE </br>**</th>
        </tr>
        {% endfor %}
        {% for i in lt %}
        <tr>
            <td>{{i.year}}</td>
            <td>{{i.reportedAdjRoic|floatformat:3}}%</td>
            <td>{{i.adjRoic|floatformat:3}}%</td>
            <td>{{i.reportedRoce|floatformat:3}}%</td>
            <td>{{i.calculatedRoce|floatformat:3}}%</td>
            <td>{{i.rreit_roce|floatformat:3}}%</td>
            <td>{{i.creit_roce|floatformat:3}}%</td>
        </tr>
        {% endfor %}
    </table>
    </table>
</form>
<p>**: Due to this not being a standard REIT assessment metric, it has been added only as a unique metric for any REIT investors who are curious about how 
    FFO / Shareholder Equity stands up against the standard, Net Income / Shareholder Equity.
    This gives a frame of reference for how the actually valuable REIT metric of FFO would fare using this form of evaluation. 
    Apologies that no average value is available at this time (August, 2024).
</p>
{% endblock %}