{% extends 'investor_center/base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>Jump to another report:</p>
    <input type="submit" name="balance" value="Balance Sheet Report">
    <input type="submit" name="cf" value="Cash Flow Statement Report">
    <input type="submit" name="eff" value="Efficiency Report">
    <input type="submit" name="divs" value="Dividend Report">

    <h1>
        Income Statement Highlights for {{dt}}
        <input type="hidden" name="ts" value="{{dt}}">
    </h1>
    <p>Applicable column headers will also contain the average value of those columns for an easy summary.</p>
    <table border="1" name="sectorRankingsTable">
        {% for l in mt %}
        <tr>
            <th>Year</th>
            <th>Revenue</th>
            <th>Revenue GR </br>{{l.revGrowthAVG|floatformat:3}}%</th>
            <th>Net Income</th>
            <th>Net Income GR </br>{{l.netIncomeGrowthAVG|floatformat:3}}%</th>
            <th>FFO</th>
            <th>FFO GR </br>{{l.ffoGrowthAVG|floatformat:3}}%</th>
            <th>Shares</th>
            <th>Shares GR </br>{{l.sharesGrowthAVG|floatformat:3}}%</th>
            <th>Reported EPS</th>
            <th>Reported EPS GR </br>{{l.repsGrowthAVG|floatformat:3}}%</th>
            <th>Calculated EPS</th>
            <th>Calculated EPS GR </br>{{l.cepsAVG|floatformat:3}}%</th>
            <th>REIT EPS</th>
            <th>REIT EPS GR </br>{{l.reitepsGrowthAVG|floatformat:3}}%</th>
        </tr>
        {% endfor %}
        {% for i in lt %}
        <tr>
            <td>{{i.year}}</td>
            <td>${{i.revenue|floatformat:"0"}}</td>
            <td>{{i.revenueGrowthRate|floatformat:3}}%</td>
            <td>${{i.netIncome|floatformat:"0"}}</td>
            <td>{{i.netIncomeGrowthRate|floatformat:3}}%</td>
            <td>${{i.ffo}}</td>
            <td>{{i.ffoGrowthRate|floatformat:3}}%</td>
            <td>{{i.shares|floatformat:"0"}}</td>
            <td>{{i.sharesGrowthRate|floatformat:3}}%</td>
            <td>${{i.reportedEPS|floatformat:2}}/share</td>
            <td>{{i.reportedEPSGrowthRate|floatformat:3}}%</td>
            <td>${{i.calculatedEPS|floatformat:2}}/share</td>
            <td>{{i.calculatedEPSGrowthRate|floatformat:3}}%</td>
            <td>${{i.reitEPS|floatformat:2}}/share</td>
            <td>{{i.reitEPSGrowthRate|floatformat:3}}%</td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}