{% extends 'investor_center/base.html' %}

{% block content %}
    <p>Jump to another report:</p>

    <div class="container">
        <a href="{% url 'overh' ticker=dt %}" id="high">Summary Highlights</a>
        <a href="{% url 'bh' ticker=dt %}" id="high">Balance Sheet Highlights</a>
        <a href="{% url 'cfh' ticker=dt %}" id="high">Cash Flow Highlights</a>
        <a href="{% url 'effh' ticker=dt %}" id="high">Efficiency Highlights</a>
        <a href="{% url 'divsh' ticker=dt %}" id="high">Dividend Highlights</a>
    </div>

    <h1>
        Income Statement Highlights for {{dt}}
        <input type="hidden" name="ts" value="{{dt}}">
    </h1>

    </br>
    <h2>
        Sales and Profits
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            Revenue is a company's gross amount of money made, sometimes refered to as the 'top line'-item, or Sales. 
            </br>Net Income, also refered to as Profits, Earnings, or the 'bottom line', is the money that's left after all bills are paid. 
            </br>Both 'line'-phrases refer to the stats' relative position on an Income Statement.
            </br>Profit Margin is just Net Income divided by Revenue for the given year. 
        </p>
    </details> </br>
    
    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Category</th>
                <th>Year</th>
                <th>Revenue</th>
                <th>Revenue GR</th>
                <th>Net Income</th>
                <th>Net Income GR</th>
                <th>Profit Margin</th>
            </tr>
            <tr>
                <th>Average</th>
                <th></th>
                <th></th>
                <th>{{l.revGrowthAVGnz|floatformat:3}}%</th>
                <th></th>
                <th>{{l.netIncomeGrowthAVGnz|floatformat:3}}%</th>
                <th>{% if pmavg == 0 %} Data Unavailable
                    {% else %} {{pmavg|floatformat:3}}%
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
            {% for i in lt %}
            <tr>
                <td></td>
                <td>{{i.year}}</td>
                <td>${{i.revenue|floatformat:"0"}}</td>
                <td>{{i.revenueGrowthRate|floatformat:3}}%</td>
                <td>${{i.netIncome|floatformat:"0"}}</td>
                <td>{{i.netIncomeGrowthRate|floatformat:3}}%</td>
                <td>{{i.profit_margin|floatformat:3}}%</td>
                
            </tr>
            {% endfor %}
        </table>
    </div>

    </br>
    <h2>
        EPS-Related Stats
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            Earnings per Share is just the Net Income divided by the number of Shares Outstanding. 
            </br>Some companies report EPS to the SEC and some don't, so we've included a calculated version to provide context when reported values are lacking.
            </br>Our Full Stock Reports outline how any differences in Reported and Calculated values come about.
        </p>
    </details> </br>
    

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Category</th>
                <th>Year</th>
                <th>Shares</th>
                <th>Shares GR</th>
                <th>Reported EPS</th>
                <th>Reported EPS GR</th>
                <th>Calculated EPS</th>
                <th>Calculated EPS GR</th>
            </tr>
            <tr>
                <th>Average</th>
                <th></th>
                <th></th>
                <th>{{l.sharesGrowthAVG|floatformat:3}}%</th>
                <th>${{l.repsAVGnz|floatformat:2}}/share</th>
                <th>{{l.repsGrowthAVGnz|floatformat:3}}%</th>
                <th>${{l.cepsAVGnz|floatformat:2}}/share</th>
                <th>{{l.cepsGrowthAVGnz|floatformat:3}}%</th>
            </tr>
            {% endfor %}
            {% for i in lt %}
            <tr>
                <td></td>
                <td>{{i.year}}</td>
                <td>{{i.shares|floatformat:"0"}}</td>
                <td>{{i.sharesGrowthRate|floatformat:3}}%</td>
                <td>${{i.reportedEPS|floatformat:2}}/share</td>
                <td>{{i.reportedEPSGrowthRate|floatformat:3}}%</td>
                <td>${{i.calculatedEPS|floatformat:2}}/share</td>
                <td>{{i.calculatedEPSGrowthRate|floatformat:3}}%</td>
                
            </tr>
            {% endfor %}
        </table>
    </div>

    </br>
    <h2>
        REIT-related Stats
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            FFO is the REIT-equivalent of Net Income, and we use that to calculate REIT EPS: FFO divided by Shares Outstanding. 
            </br>We don't have the necessary data available at this time to calculate AFFO, Adjusted Funds from Operations, which is a more accurate Net Income proxy for REITS.
            </br>However, the FFO numbers here can be used as a reliable substitute in lieu of that current deficiency in our models.
            </br>If the company you're looking at isn't a REIT, this table can be ignored altogether.
        </p>
    </details> </br>
    

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Category</th>
                <th>Year</th>
                <th>FFO</th>
                <th>FFO GR</th>
                <th>Shares</th>
                <th>Shares GR</th>
                <th>REIT EPS</th>
                <th>REIT EPS GR</th>
            </tr>
            <tr>
                <th>Average</th>
                <th></th>
                <th></th>
                <th>{{l.ffoGrowthAVGnz|floatformat:3}}%</th>
                <th></th>
                <th>{{l.sharesGrowthAVG|floatformat:3}}%</th>
                <th>${{l.reitepsAVGnz|floatformat:2}}/share</th>
                <th>{{l.reitepsGrowthAVGnz|floatformat:3}}%</th>
            </tr>
            {% endfor %}
            {% for i in lt %}
            <tr>
                <td></td>
                <td>{{i.year}}</td>
                <td>${{i.ffo}}</td>
                <td>{{i.ffoGrowthRate|floatformat:3}}%</td>
                <td>{{i.shares|floatformat:"0"}}</td>
                <td>{{i.sharesGrowthRate|floatformat:3}}%</td>            
                <td>${{i.reitEPS|floatformat:2}}/share</td>
                <td>{{i.reitEPSGrowthRate|floatformat:3}}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}