{% extends 'investor_center/base.html' %}
<!DOCTYPE html>
{% block content %}
<h1>
    Welcome to Investment Highlights!
</h1>
<h2>
    A personal project made public for all to use.
</h2>

<h3>
    The goal of every tool here is to create views for data that we wish we could find more easily. 
    </br>What would we be looking for, what do we find relevant, most important? How can we get it all in one place?
    </br>So as our understanding of securities analysis grows, so too do our displays of data on this site.
</h3>
<h3>
    Check the Navigation buttons up top to see what's available at this time.
</h3>
<h1>
    The following is our planned order of updates that the site will receive over the coming months.
</h1>
<h3>
    Database optimized, then updated for 2024 values. Estimated time to completion: End of March 2025.
</h3>
<p>This is paramount: The site is kind of silly to have if it doesn't have up-to-date 10-K data! Working with the data while making the UI 
    taught us a lot about which parts of the DB were actually pertinent for use in analysis too. So a complete revamp of which data is 
    stored and recalled will also be undertaken here.
</p>

<h3>
    UI Tweaks
</h3>
<p>This may become a constant process, but a reorganization of what data is presented on each page will be an upgrade process regardless.</p>

<h3>
    Compare Stock Highlights. Estimated time to completion: Before EoY 2025.
</h3>
<p>We want to compare multiple securities in a way that doesn't involve multiple tabs of our site being open at once.</p>

<h3>
    Dividend Stock Valuation. Estimated time to completion: Before EoY 2025.
</h3>
<p>The backend code works great... for us. Now we just have to get this put onto this site somehow. You want it, we got it, let's get it posted!</p>

<h3>
    Graphical Representations of Data. Estimated time to completion: Before EoY 2025.
</h3>
<p>Dash, Plotly, Matplotlib, Tableau plugins, whatever. Let's get something up on here that shows the numbers in a way that human brains enjoy looking at.</p>

<h3>
    AI. 
</h3>
<p>That was our earnings call up above, did you see how it shot our stock price up 50% after reading it? Let's get some more tools on here that help project 
    </br>possible outcomes for all this data. It doesn't have to be anything fancy, but playing with some machine learning models and presenting the data is 
    </br>well within our wheelhouse of capability and would be fun for us at least. Worst case scenario it's just some linear regressions, plotted.
</p>

<h3>
    ETF Analysis Articles. Estimated time to completion: Ongoing
</h3>
<p>On the Ko-Fi page, you'll see articles posted, over time, analyzing different ETF's and how they might fit into different portfolio strategies. 
    </br>Model portfolio articles will also be posted there eventually, too.
</p>
<h3>
    Give us some time and stay tuned: We'll get this all out to you eventually.
</h3>
<h3>
    Details on how to support us can be found <a href="{% url 'tips' %}" id="contactp">Here</a> and by clicking the below button.
</h3>
<div class="container">
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
    <script type='text/javascript'>kofiwidget2.init('Support Investment Highlights', '#5eaaed', 'T6T815TU3M');kofiwidget2.draw();</script> 
</div>

<h3>
    If enough interest is raised related to said topic, a 'proper' UI will be rolled out for a more professional look and feel.
    </br>Until then, enjoy all manner of company financial info with the look and feel of an early 1990's website! :)
</h3>
{% endblock %}
