{% extends 'investor_center/base.html' %}

{% block content %}
    <p>Jump to another report:</p>

    <div class="container">
        <a href="{% url 'ih' ticker=dt %}" id="high">Income Statement Highlights</a>
        <a href="{% url 'bh' ticker=dt %}" id="high">Balance Sheet Highlights</a>
        <a href="{% url 'cfh' ticker=dt %}" id="high">Cash Flow Highlights</a>
        <a href="{% url 'effh' ticker=dt %}" id="high">Efficiency Highlights</a>
        <a href="{% url 'divsh' ticker=dt %}" id="high">Dividend Highlights</a>
    </div>

    </br>
    <h1>
        Summary Highlights for {{dt}}
        <input type="hidden" name="ts" value="{{dt}}">
    </h1>

    </br>
    <h2>
        Profitability
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            Growth rates give you something meaningful to interpret. Here we see averages for all the labeled categories <strong>calculated over the total number of years</strong> of SEC filings available to us.
            </br>Essentially giving you an average value across the entire (accessible) lifetime of the company.
            </br>Revenue and Net Income, later Profit Margin tells you how they relate. 
            </br>EPS in multiple forms.
            </br>FCF Margin for those who prefer it to Net Income's Profit Margin.
            </br>Net Cash Flow as a raw dollar amount, the average section telling you if they finish most years with an excess or deficit.
            </br>Finally, the Net CF Growth Rate average, what does their Net CF usually grow by each year?
            </br>The second table provides a similar layout for stats relevant to REIT's.
        </p>
    </details> </br>

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Years Analyzed</th>
                <th>Category =></th>
                <th>Revenue GR</th>
                <th>Net Income GR</th>
                <th>Reported EPS GR</th>
                <th>Calculated EPS GR</th>
                <th>Profit Margin</th>
                <th>FCF Margin</th>
                <th>FCFM GR</th>
                <th>Net Cash Flow</th>
                <th>Net CF GR</th>
            </tr>
            <tr>
                <th>{{ years|length }}</th>
                <th>Average =></th>
                <th>{{l.revGrowthAVGnz|floatformat:3}}%</th>
                <th>{{l.netIncomeGrowthAVGnz|floatformat:3}}%</th>
                <th>{{l.repsGrowthAVGnz|floatformat:3}}%</th>
                <th>{{l.cepsGrowthAVGnz|floatformat:3}}%</th>
                <th>{% if pmavg == 0 %} Data Unavailable
                    {% else %} {{pmavg|floatformat:3}}%
                    {% endif %}
                </th>
                <th>{{l.fcfMarginAVG|floatformat:3}}%</th>
                <th>{{l.fcfMarginGrowthAVGnz|floatformat:3}}%</th>
                <th>{% if l.netCashFlowAVGnz > 0 %} > Zero
                    {% else %} < Zero
                    {% endif %}
                </th>
                <th>{{l.netCashFlowGrowthAVGnz|floatformat:3}}%</th>
            </tr>
            {% endfor %}
        </table>
    </div>

    <h3>
        Similarly, if this company is a REIT.
    </h3>

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Years Analyzed</th>
                <th>Category</th>
                <th>Revenue GR</th>
                <th>FFO GR</th>
                <th>REIT EPS GR</th>
            </tr>
            <tr>
                <th>{{ years|length }}</th>
                <th>Average</th>
                <th>{{l.revGrowthAVGnz|floatformat:3}}%</th>
                <th>{{l.ffoGrowthAVGnz|floatformat:3}}%</th>
                <th>{{l.reitepsGrowthAVGnz|floatformat:3}}%</th>
            </tr>
            {% endfor %}
        </table>
    </div>

    </br>
    <h2>
        Shareholder Ownership
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            Reported values to the SEC about Shareholder Equity, and how it relates to the number of shares outstanding. 
            </br>Book Value growth rates give us insight into how the growth, or shrinkage, of Shareholder Equity relates to the growth, or shrinkage, or shares outstanding. It's an all-in-one package to understanding 
            just how much of the company's assets you own with each share.
            
        </p>
    </details> </br>
    
    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Years Analyzed</th>
                <th>Category</th>
                <th>Reported Shareholder Equity GR</th>
                <th>Reported Book Value GR</th>
                <th>Calculated Shareholder Equity GR</th>
                <th>Calculated Book Value GR</th>
            </tr>
            <tr>
                <th>{{ years|length }}</th>
                <th>Average</th>
                <th>{{l.reportedEquityGrowthAVGnz|floatformat:3}}%</th>
                <th>{{l.repBookValueGrowthAVGnz|floatformat:3}}%</th>
                <th>{{l.calculatedEquityGrowthAVGnz|floatformat:3}}%</th>
                <th>{{l.calcBookValueGrowthAVGnz|floatformat:3}}%</th>
            </tr>
            {% endfor %}
        </table>
    </div>

    </br>
    <h2>
        Efficiency
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            For more in-depth explanations of efficiency metrics, check out the Efficiency Highlights.
            </br>Here we're just going to look at Return on Equity and call it good. Or good enough. It's a summary. Enjoy it for what it is.
            </br>The final two columns provide a similar stat, explained more in Efficiency Highlights, for REIT's.
        </p>
    </details> </br>

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Years Analyzed</th>
                <th>Category</th>
                <th>Reported ROE</th>
                <th>Calculated ROE</th>
                <th>Reported REIT ROE</th>
                <th>Calculated REIT ROE</th>
            </tr>
            <tr>
                <th>{{ years|length }}</th>
                <th>Average</th>
                <th>{{l.rroceAVG|floatformat:3}}% </th>
                <th>{{l.croceAVG|floatformat:3}}% </th>
                <th>{% if rreitroe == 0 %} Data Unavailable
                    {% else %} {{rreitroe|floatformat:3}}%
                    {% endif %}
                </th>
                <th>{% if creitroe == 0 %} Data Unavailable
                    {% else %} {{creitroe|floatformat:3}}%
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>

    </br>
    <h2>
        Dividends
    </h2>

    <details>
        <summary>
            Educational Information
        </summary>
        <p>
            Dividend Highlights will have much more educational and specific information for you to digest.
            </br>Here we just want to see how dividends per share are growing or shrinking each year, on average.
            </br>The Payout Ratio Table is explained more fully in Dividend Highlights.
        </p>
    </details> </br>
    
    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Years Analyzed</th>
                <th>Category</th>
                <th>Calculated Dividends per Share GR</th>
                <th>Reported Dividends per Share GR</th>
            </tr>
            <tr>
                <th>{{ years|length }}</th>
                <th>Average</th>
                <th>{{l.calcDivsPerShareGrowthAVGnz|floatformat:3}}%</th>
                <th>{{l.repDivsPerShareGrowthAVGnz|floatformat:3}}%</th>            
            </tr>
            {% endfor %}
        </table>
    </div>

    <h3>
        And also for Payout Ratios.
    </h3>

    <div class="container">
        <table>
            {% for l in mt %}
            <tr>
                <th>Years Analyzed</th>
                <th>Category</th>
                <th>Payout Ratio</th>
                <th>FCF Payout Ratio</th>
                <th>REIT(FFO) Payout Ratio</th>
            </tr>
            <tr>
                <th>{{ years|length }}</th>
                <th>Average</th>
                <th>{{l.poravg100|floatformat:3}}%</th>
                <th>{{l.fcfporavg100|floatformat:3}}%</th>
                <th>{{l.ffoporavg100|floatformat:3}}%</th>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}