{% extends 'investor_center/base.html' %}

{% block content %}
	<h1>
		Stock Screener
	</h1>
	<h3>Find what you're looking for!</h3>
	<p>Here you can filter tickers based on <strong>lifetime averages</strong> of the categories denoted in the column headers.</p>
    <p>Screening values are based on whichever is the highest value, between Calculated and Reported numbers.</p>
    <p></p>
    <p>Scroll below the table to see descriptions for what you're looking at and how to use this page, as well as a report of any currently known bugs and a legend of acronyms.</p>
	

	<form method="POST">
		{% csrf_token %}
        <div class="container">
            <table>
                <tr>
                    <th><h3>Select a Sector and manually pick values</h3></th>
                </tr>
                <tr>
                    <td>
                            <select name="sectorDropDown">
                                <option value="{{dv.sector|safe}}" {% if dv.selected %} selected {% endif %}>{{dv.sector}} </option>
                                <option> All </option>
                                {% for j in sectors %}
                                    <option value="{{ j.Sector }}">{{ j.Sector }}</option>
                                {% endfor %}
                            </select>
                        
                         <input type="submit" name="updateTable" value="Update Table">  
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <th><h3>Search for a Single Ticker</h3></th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="ts" placeholder="{{ tickerToBeFound }}" id="tickerid">
                        <input type="submit" name="tsButton" value="Find My Stock!">
                    </td>
                </tr>
            </table>
            
        </div>

        <div class="container">
            <table>
                <tr>
                    <th><h3>Or Choose a Preselected Filter for Each Sector</h3></th>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="genericB" value="Materials"> 
                        <input type="submit" name="genericC" value="Communications">
                        <input type="submit" name="genericE" value="Energy"> 
                        <!-- <input type="submit" name="genericBDC" value="BDC">  -->
                        <input type="submit" name="genericF" value="Financials"> 
                        <input type="submit" name="genericI" value="Industrials"> 
                        <input type="submit" name="genericK" value="Technology"> 
                        <input type="submit" name="genericP" value="Consumer Staples"> 
                        <input type="submit" name="genericRE" value="Real Estate"> 
                        <input type="submit" name="genericU" value="Utilities"> 
                        <input type="submit" name="genericV" value="Healthcare"> 
                        <input type="submit" name="genericY" value="Consumer Cyclical"> 
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="container">
            <input type="submit" name="resetTable" value="Reset Table"> 
            <input type="submit" name="updateTable" value="Update Table">
        </div>
        <div class="container">
            <table>
                <tr>
                    <th>Category-></th>
                    <th>Tickers</th> 
                    <th>ROE</th>
                    <th>ROIC</th>
                    <th>Revenue GR</th>
                    <th>Net Income GR</th>
                    <th>FFO GR</th>
                    <th>FCF GR</th>
                    <th>FCF Margin GR</th>
                    <th>Net Cashflow GR</th>
                    <!-- <th>Dividend Payer?</th> -->
                    <th>Dividend GR</th>
                    <!-- <th>Payout Ratio</th> -->
                    <!-- <th>AVG FFO Payout Ratio</th> -->
                    <!-- <th>Debt GR</th> -->
                    <th>Equity GR</th>
                    <th>Shares GR</th>
                    <th>Book Value GR</th>
                    <!-- <th>Return of Capital</th> -->
                    <!-- <th>AVG REIT ROE</th> -->
                    <th>Sector</th>
                </tr>
                <tr>
                    <th>Select Minimum-></th>
                    <th>{{ lt|length }} Found</th> 
                    
                    <th><input type="text" name="vfroce" value="{{dv.roce|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <th><input type="text" name="vfroic" value="{{dv.roic|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <th><input type="text" name="vfrev" value="{{dv.rev|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <th><input type="text" name="vfni" value="{{dv.ni|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <th><input type="text" name="vfffo" value="{{dv.ffo|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <th><input type="text" name="vffcf" value="{{dv.fcf|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <th><input type="text" name="vffcfm" value="{{dv.fcfm|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <th><input type="text" name="vfcf" value="{{dv.cf|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <!-- <th><input type="text" name="vfdp" value="{{dv.dp|safe}}" id="valueMin"></th> -->
                    <th><input type="text" name="vfdivgr" value="{{dv.divgr|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <!-- <th><input type="text" name="vfpo" value="{{dv.po|safe}}" id="valueMin"></th> -->
                    <!-- <th><input type="text" name="vfffopo" value="{{dv.ffopo|safe}}" id="valueMin"></th> -->
                    <!-- <th><input type="text" name="vfdebt" value="{{dv.debt|safe}}" id="valueMin"></th> -->
                    <th><input type="text" name="vfeq" value="{{dv.eq|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <th><input type="text" name="vfshares" value="{{dv.shares|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <th><input type="text" name="vfbv" value="{{dv.bv|safe|floatformat:2}}" id="valueMin" onclick="this.select();"></th>
                    <!-- <th><input type="text" name="vfroc" value="{{dv.roc|safe}}" id="valueMin"></th> -->
                    <!-- <th><input type="text" name="vfreitroce" value="{{dv.reitroce|safe}}" id="valueMin"></th> -->
                    <th><-Select Minimum</th>
                </tr>
                {% for i in lt %}
                <tr id="info">
                    <td></td>
                    <td><a href="{% url 'overh' ticker=i.Ticker %}" id="srTicker">{{i.Ticker}}</a></td>
                    
                    <td>{{i.roce|floatformat:2}}%</td>
                    <td>{{i.roic|floatformat:2}}%</td>
                    <td>{{i.revGrowthAVGnz|floatformat:2}}%</td>
                    <td>{{i.netIncomeGrowthAVGnz|floatformat:2}}%</td>
                    <td>{{i.ffoGrowthAVGnz|floatformat:2}}%</td>
                    <td>{{i.fcfGrowthAVGnz|floatformat:2}}%</td>
                    <td>{{i.fcfMarginGrowthAVGnz|floatformat:2}}%</td>
                    <td>{{i.netCashFlowGrowthAVGnz|floatformat:2}}%</td>
                    <!-- <td>{{i.divpay}}</td> -->
                    <td>{{i.divgr|floatformat:2}}%</td>
                    <!-- <td>{{i.payoutRatioAVGnz|floatformat:3}}</td> -->
                    <!-- <td>{{i.ffoPayoutRatioAVGnz|floatformat:3}}</td> -->
                    <!-- <td>{{i.debtGrowthAVG|floatformat:3}}</td> -->
                    <td>{{i.equity|floatformat:2}}%</td>
                    <td>{{i.sharesGrowthAVG|floatformat:2}}%</td>
                    <td>{{i.bv|floatformat:2}}%</td>
                    <!-- <td>{{i.roc}}</td> -->
                    <!-- <td>{{i.reitroce}}</td> -->
                    <td>{{i.Sector}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
	</form>

    <p>What you see here is every security in our database, most of the values from our highlights sorting them. </p>
    <p>'GR' stands for 'Growth Rate', 'AVG' stands for 'Average', and the numbers present represent the respective category averages across each company's reportable lifetime.</p>
	
    <h2>The editable box below each category header allows you to select the minimum value for that category for filtering.</h2>
    <p>Then selecting 'Update Table' will update the table with your desired filter.</p>

    <h2>All categories are filtered for greater than or equal to values, with the exception of Shares GR which is less than or equal to.</h2>
    
    <p>The first selector section keeps whatever values are already entered in each column, and selects your sector of choice, applying those values to the newly chosen sector.</p>
    <p>The second selector section allows you to type in a stock ticker, finding its stats along with its peers in the same sector, with similar stats.</p>
    <p>The third selector section provides preset values for any given sector, saving you time, but you'll want to tweak the numbers to your preference.</p>

    
    <h2>Clicking a stock ticker in the Tickers Column will take you to that company's Stock Highlights pages, beginning with our Summary Highlights.</h2>
    
    
   


    <h3>Known Bugs: </h3>
    <p>None at this time.
    </p>
{% endblock %}