{% extends 'investor_center/base.html' %}

{% block content %}

<h1>First and Foremost: Thank you</h1>
<p>
    This site was originally made as a personal project and your viewing and use of it already means so much to us!
</p>
<p>
    The idea that our work has had any small part in your continued financial education feels good in and of itself.
</p> 
<p>
    If you do find yourself in a place where you can help to support the continued running of this website, please see below and know that 
    we are very grateful for your thoughtful generosity.
</p>

</br>
<h1>Links</h1>
<p>
    The donation link represents our website, as well as the lead developer's public media. So don't feel lost if you head over there and see 'Luke Has Ideas'.
</p>
<h2>
    All support goes directly to keeping this site running, improving, here for you to use and enjoy.
</h2>

<div class="container">
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
    <script type='text/javascript'>kofiwidget2.init('Support Investment Highlights', '#5eaaed', 'T6T815TU3M');kofiwidget2.draw();</script> 
</div>
</br>

<h2>
    Contact Options
</h2>
<p>
    The current best method to suggest changes to the site's layout, give feedback of any kind, or to just say hello is via the above Ko-fi link.
</p>
<p>
    We look forward to hearing from you!
</p>
{% endblock %}