{% extends 'investor_center/base.html' %}

{% block content %}
<h1>
    Dividend Stock Valuation - Coming Soon!
</h1>
<p>
    We are working to make a valuation tool available.
</br>Give us time to work out the kinks and you'll see it here in due time.
</p>

<h2>Good Value Tool</h2>
<h3>We judge a stock to be currently expensive or cheap based upon current and historical financial metrics.</h3>
<p>
    This tool will judge a stock based on its dividend per share versus price per share, giving users a simple valuation ratio to understand what they're paying for versus what they're receiving each year. 
</p>
<p>
    This incredibly simplified method of determining a range of buy prices for a stock is based on the idea that the dividend is the only cash value actually received from owning a share of that company, 
    outside of the selling of said share.
</p>
<p>
    While not a commonly used valuation metric, it can be useful to find stocks on sale, especially when considering how many dollars to spend per one dollar put in your pocket via corporate distributions.
</p>
<p>
    When combined with due diligence to determine a company's longterm stability, you can aim to grow a position at a price worth paying.
</p>

<h2>Valuation Tool</h2>
<h3>Valuation, to us, is the Process of Estimating Future Value Based on Projected Future Returns.</h3>
<p>
    This tool will estimate expected returns over the next five years based on the Dividend Discount Model (Or Gordon Growth Model, depending on variables used and formula setup). 
</p>
<p>
    None of these Valuation Projections are to be taken as investment advice, they're just to paint a picture of what you might expect when buying a share at the current price, given that company's track record 
    of dividend growth.
</p>

{% endblock %}