{% extends 'investor_center/base.html' %}

{% block content %}
<h1>
    Dividend Stock Valuation - Coming Soon!
</h1>
<p>
    We are working to make a valuation tool available.
</br>Give us time to work out the kinks and you'll see it here in due time.
</p>

<h2>Good Value Tool</h2>
<h3>Judging whether a stock is currently expensive or cheap is based upon past performance, and current financial health.</h3>
<p>
    This area of the site will judge a stock based on its dividend per share versus price per share, giving users a simple valuation ratio to understand what they're paying for what they're receiving each year. 
</p>
<p>
    While not a commonly used valuation metric, it can be useful to find stocks on sale, especially when considering how many dollars to spend per one dollar put in your pocket via corporate distributions.
</p>
<p>
    When combined with due diligence to determine a company's stability, luke explain buying companies that last
</p>

<h2>Valuation Tool</h2>
<h3>Valuation is the Process of Estimating Future Value Based on Projected Returns</h3>
<p>
    This area of the site will provide tools for estimating expected returns over the next five years based on the Dividend Discount Model (Or Gordon Growth Model, depending on variables used and formula setup). 
</p>

{% endblock %}