# created by virtualenv automatically
mfvenv/
.vscode
./mainframe/investor_center/stockData/
./mainframe/sec_related/stocks/old
mainframe/investor_center/__pycache__/**
mainframe/mainframe/__pycache__/**
mainframe/helloThere/__pycache__/**
mainframe/helloThere/migrations/__pycache__/**
*.pyc
